<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        {% for post in posts %}
        <li>
            <p><strong>{{ post.title }}</strong></p>
            <p>{{ post.content }}</p>
            <small>Posted on {{ post.created_at }}</small><br>

           
            <a href="{% url 'edit_post' post.id %}">Edit</a>
            |
            <a href="{% url 'delete_post' post.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'add_post'  %}">Create New Post</a></button>
</body>
</html>
